<!DOCTYPE html>
<html lang="en">

  <head>
  	<title></title>
  	<meta charset="utf-8">
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  </head>

    {% block contents %}<body></body>{% endblock %}

</html>