{% extends "base.html" %}

{% block contents %}

<div class="container">
  <center>
    <div class="jumbotron">
      <!--<br><br><br><br><br><br><br><br><br><br>-->
      <b>
  <h1>Create the Perfect Study Guide</h1>
  <br>
</b>
  <a href="/create" class="btn btn-button-home btn-lg"><b>Sign Up</b></a>
  <a href="/login" class="btn btn-button-home btn-lg"><b>Login</b></a>
</div>
<!--
	<div class="col-lg-6">
	<div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>
</div>
-->
  </center>
</div>

{% endblock %}
